.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 10px;
  padding: 5px;
  gap: 10px;
  margin-bottom: 2rem;

  .prev-button,
  .next-button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 4px 7px;
    font-size: 12px;
    cursor: pointer;
    background-color: #555;
    color: white;
    border: none;
    border-radius: 4px;
    transition: background-color 0.3s;

    &:disabled {
      background-color: #aaa;
      cursor: not-allowed;
    }

    &:hover:not(:disabled) {
      background-color: #333;
    }
  }

  span {
    font-size: 12px;
    font-weight: bold;
  }

  @media (min-width: 600px) {
    font-size: 22px;
    gap: 30px;

    .prev-button,
    .next-button {
      padding: 8px 14px;
      font-size: 14px;
    }
  }

  @media (min-width: 1024px) {
    font-size: 18px;

    .prev-button,
    .next-button {
      padding: 5px 10px;
      font-size: 16px;
    }

    span {
      font-size: 14px;
    }
  }
}
