.navbar-1 {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  background-color: white;
  color: #333;
  padding: 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  animation: fadeIn 0.5s ease-in-out;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .logo {
    font-size: 2rem;
    font-weight: bold;
    margin-left: 10px;
    color: #333;
    text-decoration: none;
  }

  .icons {
    display: flex;
    align-items: center;
    gap: 10px;

    .search-icon,
    .menu-icon,
    .user-icon,
    .panier-icon {
      display: flex;
      font-size: 2rem;
      color: #333;
      cursor: pointer;

      &.show {
        color: #f1c40f;
      }
    }

    .panier-icon {
      position: relative;

      .cart-badge {
        position: absolute;
        top: -5px;
        right: -10px;
        background-color: red;
        color: white;
        font-size: 0.8rem;
        font-weight: bold;
        width: 18px;
        height: 18px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
      }
    }
  }
}

.wrapper {
  position: relative;
  margin-top: 70px;
}

@media (min-width: 768px) {
  .logo {
    font-size: 2.5rem;
  }

  .icons {
    gap: 20px;
  }
}

@media (min-width: 1024px) {
  .navbar-1 {
    padding: 20px;
  }

  .menu-icon {
    display: none !important;
  }

  .icons {
    margin-right: 30px;
  }
}
